<section>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
      <div>
        <div class="max-w-lg md:max-w-none">
          <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
            Tentang Kepribadian Adit
          </h2>

          <p class="mt-4 text-gray-700">
            Adit adalah sosok yang penuh semangat, ramah, dan mudah beradaptasi dengan lingkungan sekitar. Kepribadiannya yang terbuka dan komunikatif membuatnya disukai oleh banyak orang. Selain itu, Adit juga dikenal memiliki rasa tanggung jawab yang tinggi dalam setiap pekerjaan yang dilakukan.
          </p>

          <p class="mt-4 text-gray-700">
            Adit senang belajar hal baru dan tidak takut menghadapi tantangan. Ia memiliki rasa ingin tahu yang besar dan selalu mencari cara untuk berkembang, baik dalam kehidupan pribadi maupun profesional. Kepribadiannya yang positif juga membantu menciptakan suasana yang menyenangkan bagi orang-orang di sekitarnya.
          </p>
        </div>
      </div>

      <div>
        <img
          src="/images/kiw.jpg"
          class="rounded"
          alt="Gambar Kepribadian Adit"
        />
      </div>
    </div>
  </div>
</section>




<section>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
      <div>
        <div class="max-w-lg md:max-w-none">
          <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
            pekerja keras
          </h2>

          <p class="mt-4 text-gray-700">
            Saya memiliki keahlian dalam pengembangan web, termasuk penggunaan HTML, CSS, dan JavaScript. 
      Selain itu, saya juga mahir dalam framework React, yang memungkinkan saya untuk membangun aplikasi web interaktif dan responsif. 
      Di samping itu, saya memiliki pengalaman dalam pengembangan aplikasi mobile menggunakan Kotlin, 
      serta pengetahuan dalam keamanan siber untuk menjaga aplikasi dan data tetap aman.
          </p>
        </div>
      </div>

      <div>
        <img
          src="/images/profile.jpg"
          class="rounded"
          alt=""
        />
      </div>
    </div>
  </div>
</section>



